<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<id>{{ gtfs_rt_public_endpoints[0] }}/news.atom.xml</id>
	<title>{{ gtfs_rt_public_endpoint_name }}</title>
	<link href="{{ gtfs_rt_public_endpoints[0] }}"/>
	<subtitle>announcements related to the {{ gtfs_rt_public_endpoint_name }}</subtitle>
	<updated>2026-02-01T18:47:00+01:00</updated>
	<link href="{{ gtfs_rt_public_endpoints[0] }}/news.atom.xml" rel="self"/>
	<link href="{{ gtfs_rt_public_endpoints[0] }}" rel="alternate"/>
	<author>
		<name>Jannis R</name>
		<email>mail+vbb-gtfs-rt@jannisr.de</email>
		<uri>https://jannisr.de</uri>
	</author>
	<entry>
		<id>tag:vbb.de,2026-02-18:c451fc68f202a3d74631e4bf</id>
		<title>feed unavailable</title>
		<updated>2026-02-18T17:15:00+01:00</updated>
		<content type="html"><![CDATA[
			<p>Due to a DNS misconfiguration, the feed has been offline since <time datetime="2026-02-17T17:30+01:00">2026-02-17 17:30</time>. It will likely be available again at <time datetime="2026-02-18T18:00+01:00">2026-02-18 18:00</time></li>.</p>
			<p>Unfortunately, most of you won't even see this notification. We'll consider setting up a status page on a different domain.</p>
		]]></content>
	</entry>
	<entry>
		<id>tag:vbb.de,2026-02-01:9ce669215203eea6a71be401</id>
		<title>maintenance works</title>
		<updated>2026-02-01T18:47:00+01:00</updated>
		<content type="html"><![CDATA[
			<p>Due to maintenance works on the data source behind this feed, it may be unavailable and/or outdated from <time datetime="2026-02-05T10:00+01:00">2026-02-05 10:00</time> until <time datetime="2026-02-05T14:00+01:00">14:00</time></li>.</p>
		]]></content>
	</entry>
	<entry>
		<id>tag:vbb.de,2025-11-04:f081f31e2c1c3d20ac8cbcfc</id>
		<title>maintenance works, Deutsche Bahn trips may be affected</title>
		<updated>2025-11-04T14:37:00+01:00</updated>
		<content type="html"><![CDATA[
			<p>Due to maintenance works at Deutsche Bahn, their realtime data (for DB-operated trips) may be unavailable and/or outdated from <time datetime="2025-11-06T11:30+01:00">2025-11-06 11:30</time> until <time datetime="2025-11-06T13:00+01:00">13:00</time>.</p>
		]]></content>
	</entry>
	<entry>
		<id>tag:vbb.de,2025-10-30:1fa61f89d3234e5baed9cf6a</id>
		<title>maintenance works</title>
		<updated>2025-10-30T01:10:00+01:00</updated>
		<content type="html"><![CDATA[
			<p>Due to maintenance works on the data source behind this feed, it may be unavailable and/or outdated in the following time periods:</p>
			<ul>
				<li><time datetime="2025-11-03T22:00+01:00">2025-11-03 22:00</time> until about <time datetime="2025-11-04T00:00+01:00">24:00</time></li>
				<li><time datetime="2025-11-10T22:00+01:00">2025-11-10 22:00</time> until about <time datetime="2025-11-11T00:00+01:00">24:00</time></li>
			</ul>
		]]></content>
	</entry>
</feed>
