<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<id>{{ gtfs_rt_public_endpoints[0] }}/news.atom.xml</id>
	<title>{{ gtfs_rt_public_endpoint_name }}</title>
	<link href="{{ gtfs_rt_public_endpoints[0] }}"/>
	<subtitle>announcements related to the {{ gtfs_rt_public_endpoint_name }}</subtitle>
	<updated>2025-10-30T01:10:00+01:00</updated>
	<link href="{{ gtfs_rt_public_endpoints[0] }}/news.atom.xml" rel="self"/>
	<link href="{{ gtfs_rt_public_endpoints[0] }}" rel="alternate"/>
	<author>
		<name>Jannis R</name>
		<email>mail+vbb-gtfs-rt@jannisr.de</email>
		<uri>https://jannisr.de</uri>
	</author>
</feed>
