contactPoints:
  - orgId: 1
    # note: has to match `groups[].rules[].notification_settings.receiver`
    name: GTFS-RT alerts
    receivers:
      - uid: aedvenq6d52bkb
        type: slack
        settings:
          url: '{{ alerts_public_transport_slack_webhook }}'
        disableResolveMessage: false

muteTimes:
  - orgId: 1
    name: 2am to 8am every night
    time_intervals:
      - times:
          - start_time: "02:00"
            end_time: "08:00"
        location: Europe/Berlin

# apiVersion: 1
policies:
  - orgId: 1
    receiver: GTFS-RT alerts
    group_by:
      - grafana_folder
      - alertname
    group_wait: 30s
    group_interval: 3m
    repeat_interval: 1d

groups:
  - orgId: 1
    name: every minute
    folder: GTFS-RT
    interval: 1m
    rules:
      - uid: bedyg4aetv4zkc
        title: vbb_dds_restarts
        condition: too_many_vdv_api_restarts
        data:
          - refId: vdv_api_restarts
            relativeTimeRange:
              from: 3600
              to: 0
            datasourceUid: de29irtzi5gcga
            model:
              disableTextWrap: false
              editorMode: builder
              expr: changes(vdv_server_startdienstzst_seconds[1h]) / 60
              fullMetaSearch: false
              includeNullMetadata: true
              instant: true
              intervalMs: 15000
              legendFormat: __auto
              maxDataPoints: 43200
              range: false
              refId: vdv_api_restarts
              useBackend: false
          - refId: too_many_vdv_api_restarts
            datasourceUid: __expr__
            model:
              conditions:
                  - evaluator:
                      params:
                          # A few restarts are normal, we mainly target endless restart loops here.
                          - 0.2
                      type: gt
                    operator:
                      type: and
                    query:
                      params:
                          - C
                    reducer:
                      params: []
                      type: last
                    type: query
              datasource:
                  type: __expr__
                  uid: __expr__
              expression: vdv_api_restarts
              intervalMs: 1000
              maxDataPoints: 43200
              refId: too_many_vdv_api_restarts
              type: threshold
        dashboardUid: be2c3frskfv9ce
        panelId: 15
        noDataState: Alerting
        execErrState: Error
        for: 1m
        annotations:
          __dashboardUid__: be2c3frskfv9ce
          __panelId__: "7"
          description: There have been too many StartDienstZst increases in the past 1h.
          summary: VDV API is restarting too often
        isPaused: false
        notification_settings:
          # note: has to match `contactPoints[].name`
          receiver: GTFS-RT alerts
      - uid: fedyhppyh9fk0a
        title: vdv_api_no_recent_status_ok
        condition: no_recent_status_ok
        data:
          - refId: seconds_since_last_status_ok
            relativeTimeRange:
              from: 300
              to: 0
            datasourceUid: de29irtzi5gcga
            model:
              editorMode: code
              expr: time() - vdv_statusantwort_ok_timestamp_seconds{service="aus",status="1"}
              instant: true
              intervalMs: 1000
              legendFormat: __auto
              maxDataPoints: 43200
              range: false
              refId: seconds_since_last_status_ok
          - refId: no_recent_status_ok
            datasourceUid: __expr__
            model:
              conditions:
                  - evaluator:
                      params:
                          - 60
                      type: gt
                    operator:
                      type: and
                    query:
                      params:
                          - C
                    reducer:
                      params: []
                      type: last
                    type: query
              datasource:
                  type: __expr__
                  uid: __expr__
              expression: seconds_since_last_status_ok
              intervalMs: 1000
              maxDataPoints: 43200
              refId: no_recent_status_ok
              type: threshold
        dashboardUid: be2c3frskfv9ce
        panelId: 19
        noDataState: Alerting
        execErrState: Error
        for: 1m
        annotations:
          __dashboardUid__: be2c3frskfv9ce
          __panelId__: "16"
          description: We haven't received a Status=ok from the VDV API in the past 30 seconds.
          summary: no recent Status=ok from VDV API
        isPaused: false
        notification_settings:
          # note: has to match `contactPoints[].name`
          receiver: GTFS-RT alerts
      - uid: dedyih0q93f28c
        title: no_recent_aus_istfahrt_msgs
        condition: no_recent_aus_istfahrt_msgs
        data:
          - refId: aus_istfahrt_msgs_rate
            relativeTimeRange:
              from: 3600
              to: 0
            datasourceUid: de29irtzi5gcga
            model:
              disableTextWrap: false
              editorMode: builder
              expr: rate(nats_nr_of_msgs_sent_total{job="vdv-453-nats-adapter"}[1h])
              fullMetaSearch: false
              includeNullMetadata: true
              instant: true
              intervalMs: 1000
              legendFormat: __auto
              maxDataPoints: 43200
              range: false
              refId: aus_istfahrt_msgs_rate
              useBackend: false
          - refId: no_recent_aus_istfahrt_msgs
            datasourceUid: __expr__
            model:
              conditions:
                  - evaluator:
                      params:
                          - 0.1
                      type: lt
                    operator:
                      type: and
                    query:
                      params:
                          - C
                    reducer:
                      params: []
                      type: last
                    type: query
              datasource:
                  type: __expr__
                  uid: __expr__
              expression: aus_istfahrt_msgs_rate
              intervalMs: 1000
              maxDataPoints: 43200
              refId: no_recent_aus_istfahrt_msgs
              type: threshold
        dashboardUid: be2c3frskfv9ce
        panelId: 17
        noDataState: Alerting
        execErrState: Error
        for: 1m
        annotations:
          description: The average rate of VDV-454 AUS IstFahrt messages sent by vdv-453-nats-adapter to NATS has been below 0.1/s in the past hour.
          summary: no recent AUS IstFahrt messages fetched
        isPaused: false
        notification_settings:
          # note: has to match `contactPoints[].name`
          receiver: GTFS-RT alerts
      - uid: hdtduwsznagjlv
        title: not enough GTFS-RT messages
        condition: not_enough_gtfs_rt_msgs_sent
        data:
          - refId: gtfs_rt_msgs_sent
            relativeTimeRange:
              from: 3600
              to: 0
            datasourceUid: de29irtzi5gcga
            model:
              disableTextWrap: false
              editorMode: builder
              expr: rate(nats_nr_of_msgs_sent_total{job="gtfs-rt-feed"}[1h])
              fullMetaSearch: false
              includeNullMetadata: true
              instant: true
              intervalMs: 15000
              legendFormat: __auto
              maxDataPoints: 43200
              range: false
              refId: gtfs_rt_msgs_sent
              useBackend: false
          - refId: not_enough_gtfs_rt_msgs_sent
            datasourceUid: __expr__
            model:
              conditions:
                  - evaluator:
                      params:
                          - 0.05
                      type: lt
                    operator:
                      type: and
                    query:
                      params:
                          - C
                    reducer:
                      params: []
                      type: last
                    type: query
              datasource:
                  type: __expr__
                  uid: __expr__
              expression: gtfs_rt_msgs_sent
              intervalMs: 1000
              maxDataPoints: 43200
              refId: not_enough_gtfs_rt_msgs_sent
              type: threshold
        dashboardUid: be2c3frskfv9ce
        panelId: 17
        noDataState: Alerting
        execErrState: Error
        for: 1m
        annotations:
          __dashboardUid__: be2c3frskfv9ce
          __panelId__: "7"
          description: There haven't been enough GTFS-RT messages sent to NATS by gtfs-rt-feed in the past 1h.
          summary: gtfs-rt-feed doesn't send enough GTFS-RT messages
        isPaused: false
        notification_settings:
          # note: has to match `contactPoints[].name`
          receiver: GTFS-RT alerts
      - uid: 0eb0e2abd0177a
        title: 'no Recent GTFS Schedule data imports'
        condition: no_recent_gtfs_schedule_import
        data:
          - refId: seconds_since_last_gtfs_schedule_import
            relativeTimeRange:
              from: 300
              to: 0
            datasourceUid: de29irtzi5gcga
            model:
              editorMode: code
              expr: time() - gtfs_data_imported_timestamp_seconds
              instant: true
              intervalMs: 1000
              legendFormat: __auto
              maxDataPoints: 43200
              range: false
              refId: seconds_since_last_gtfs_schedule_import
          - refId: no_recent_gtfs_schedule_import
            datasourceUid: __expr__
            model:
              conditions:
                  - evaluator:
                      params:
                          # 8 days, the VBB GTFS is usually updated every Friday
                          - 691200
                      type: gt
                    operator:
                      type: and
                    query:
                      params:
                          - C
                    reducer:
                      params: []
                      type: last
                    type: query
              datasource:
                  type: __expr__
                  uid: __expr__
              expression: seconds_since_last_gtfs_schedule_import
              intervalMs: 1000
              maxDataPoints: 43200
              refId: no_recent_status_ok
              type: threshold
        dashboardUid: be2c3frskfv9ce
        panelId: 20
        noDataState: Alerting
        execErrState: Error
        for: 1m
        annotations:
          __dashboardUid__: be2c3frskfv9ce
          __panelId__: "20"
          description: gtfs-rt-feed hasn't imported new GTFS Schedule data for 8 days
          summary: no recent GTFS Schedule data import
        isPaused: false
        notification_settings:
          # note: has to match `contactPoints[].name`
          receiver: GTFS-RT alerts
