# {{ ansible_managed }}

{{ grafana_public_endpoints | join(', ') }} {
	# todo: br
	encode zstd gzip

	basic_auth /* {
		{{ grafana_basic_auth_user }} {{ grafana_basic_auth_password_caddy_hashed }}
	}

	reverse_proxy /* {
		to http://{{ gtfs_rt_converter_address }}:{{ grafana_http_port }}
	}
}
