(cors_for_all) {
	@origin header Origin *
	header @origin Access-Control-Allow-Origin "*"
	header @origin Access-Control-Allow-Methods "OPTIONS,HEAD,GET"
}

{{ gtfs_rt_public_endpoints | join(', ') }} {
	encode zstd gzip

	route /data {
		uri strip_prefix /data

		# todo: higher rate limit for authenticated clients
		rate_limit {
			key {client_ip}
			events {{ gtfs_rt_rate_limit_requests }}
			window {{ gtfs_rt_rate_limit_window }}
		}

		import cors_for_all

		reverse_proxy /* {
			to http://localhost:{{ nats_consuming_gtfs_rt_server_internal_port }}
		}
	}

	route /* {
		file_server {
			root {{ gtfs_rt_webroot }}
		}
	}
}
