# {{ ansible_managed }}

[Unit]
Description=import GTFS Schedule data into PostgreSQL, restart gtfs-rt-feed
After=syslog.target network.target postgresql.service
PartOf=gtfs-rt-feed.service

[Service]
ExecStart=/usr/local/bin/gtfs-rt-feed-gtfs-import '/etc/systemd/system/gtfs-rt-feed.service.d/pgdatabase@$db_name.conf' '{{ gtfs_rt_number_of_schedule_feed_variants }}'
Environment=PGHOST=localhost
Environment=PGUSER=postgres
Environment=PGPASSWORD="{{ postgresql_postgres_password }}"
Environment=PGDATABASE='gtfs_importer'
Environment=GTFS_DOWNLOAD_USER_AGENT='vbb_gtfs_rt_production GTFS import'
Environment=GTFS_IMPORTER_VERBOSE=true

[Install]
WantedBy=multi-user.target
