{{ gtfs_rt_public_endpoints | join(', ') }} {
	encode zstd gzip
	route /* {
		# todo: higher rate limit for authenticated clients
		rate_limit {
			key {client_ip}
			events {{ gtfs_rt_rate_limit_requests }}
			window {{ gtfs_rt_rate_limit_window }}
		}
		reverse_proxy /* {
			to http://localhost:{{ nats_consuming_gtfs_rt_server_internal_port }}
		}
	}
}
