# {{ ansible_managed }}

[Unit]
Description=restarts gtfs-rt-feed-gtfs-matching-service.service on changes to its pgdatabase.conf config file.

[Path]
PathChanged={{ gtfs_rt_feed_gtfs_matching_service_pgdatabase_conf_path }}
Unit=gtfs-rt-feed-restarter.service

[Install]
WantedBy=multi-user.target
