[Unit]
After=syslog.target network.target nats-server.service

[Service]
ExecStart=/usr/bin/node cli.js AUS
Restart=always
RestartSec=5s
RestartMaxDelaySec=5m
RestartSteps=20
WorkingDirectory={{ vdv_453_nats_adapter_dir }}
Environment=NODE_ENV=production
Environment=VDV_453_LEITSTELLE="{{ vdv_453_our_leitstellenkennung }}"
Environment=VDV_453_THEIR_LEITSTELLE="{{ vdv_453_their_leitstellenkennung }}"
Environment=VDV_453_ENDPOINT="http://{{ vdv_453_api_host }}:{{ vdv_453_api_port }}/"
# > Port to listen on. VDV-453 requires the *client* to run an HTTP server that the VDV-453 API can call.
Environment=PORT="{{ vdv_453_nats_adapter_internal_port }}"
Environment=NATS_SERVERS="{{ vdv_453_nats_adapter_nats_servers | join(',') }}"
# todo: NATS_CLIENT_NAME
# todo: let it resubscribe before expiry?

[Install]
WantedBy=multi-user.target
